<div class="modal fade" id="edit_coucche_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form action="{% url 'edit_layer' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="id_layer">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modifier la couche</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="zone_name">Sélectionner une zone <span style="color: red">*</span> </label>
                        <select name="zone" class="form-control zone_edit_id">

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="zone_name">Libelle <span style="color: red">*</span> </label>
                        <input type="text" class="form-control" name="name">
                    </div>

                    <div class="form-group">
                        <label for="description">Description <span style="color: red">*</span> </label>
                        <textarea class="form-control" name="layer_description"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            </div>
        </form>
    </div>
</div>


