<div class="map_popup" style="display: none">
    <div class="row">
        <div class="col-md-12">
            <h6>Data</h6>
            <div id="tabsJustifiedContent" class="tab-content">
                <div id="data" class="tab-pane fade active show">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Label</th>
                                <th scope="col">Value</th>
                            </tr>
                            </thead>
                            <tbody class="proprety_table">
                            <tr class="text-center">
                                <td colspan="2">Pas de données</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>